* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.factories text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
